<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_HOME" value="./log"/>
        <Property name="LOG_ARCHIVE_NAME" value="archive"/>

    </Properties>
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%15t] %-5level %logger{36}(%F:%L) - %msg%n"/>-->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%15t] %-5level (%F:%L)->[%-5.30M{.1}] - %msg%n"/>

        </Console>
        <Routing name="route">
            <Routes pattern="${ctx:logFileName}">
                <Route key="AsyncLogProcess" ref="AsyncLogProcess">
                </Route>
                <Route key="SyncLogProcess" ref="SyncLogProcess">
                </Route>
                <Route key="JCToolLogProcess" ref="Async"></Route>


            </Routes>
        </Routing>
        <RollingFile name="AsyncLogProcess"
                                 fileName="${LOG_HOME}/${date:yyyy}/${date:MM}/${date:dd}/AsyncLogProcess/${ctx:logFileName}-info.log"
                                 filePattern="${LOG_HOME}/${date:yyyy}/%d{MM}/%d{dd}/boy/${LOG_ARCHIVE_NAME}/${ctx:logFileName}-info-%i.log.gz"
                                 immediateFlush="true">
            <Filters>
                <MarkerFilter marker="AsyncLogProcess" onMatch="ACCEPT" onMismatch="DENY"/>
                <!--如果是error级别拒绝，设置 onMismatch="NEUTRAL" 可以让日志经过后续的过滤器-->
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <!--如果是info\warn输出-->
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="%d %p %c{1.} [%t] %m %ex%n"/>
            <Policies>
                <!--interval属性用来指定多久滚动一次，根据当前filePattern设置是1天滚动一次-->
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认同一文件夹下最多保存7个文件-->
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

        <RollingFile name="SyncLogProcess"
                                 fileName="${LOG_HOME}/${date:yyyy}/${date:MM}/${date:dd}/SyncLogProcess/${ctx:logFileName}-info.log"
                                 filePattern="${LOG_HOME}/${date:yyyy}/%d{MM}/%d{dd}/SyncLogProcess/${LOG_ARCHIVE_NAME}/${ctx:logFileName}-info-%i.log.gz"
                                 immediateFlush="true">
            <Filters>
                <MarkerFilter marker="SyncLogProcess" onMatch="ACCEPT" onMismatch="DENY"/>
                <!--如果是error级别拒绝，设置 onMismatch="NEUTRAL" 可以让日志经过后续的过滤器-->
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <!--如果是info\warn输出-->
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="%d %p %c{1.} [%t] %m %ex%n"/>
            <Policies>
                <!--interval属性用来指定多久滚动一次，根据当前filePattern设置是1天滚动一次-->
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认同一文件夹下最多保存7个文件-->
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

        <RollingFile name="JCToolLogProcess"
                     fileName="${LOG_HOME}/${date:yyyy}/${date:MM}/${date:dd}/JCToolsBlockingQueue/JCToolsBlockingQueue-info.log"
                     filePattern="${LOG_HOME}/${date:yyyy}/%d{MM}/%d{dd}/SyncLogProcess/${LOG_ARCHIVE_NAME}/JCToolsBlockingQueue-info-%i.log.gz"
                     immediateFlush="true">
            <Filters>
                <!--如果是error级别拒绝，设置 onMismatch="NEUTRAL" 可以让日志经过后续的过滤器-->
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <!--如果是info\warn输出-->
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="%d %p %c{1.} [%t] %m %ex%n"/>
            <Policies>
                <!--interval属性用来指定多久滚动一次，根据当前filePattern设置是1天滚动一次-->
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认同一文件夹下最多保存7个文件-->
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <Async name="Async" bufferSize="262144">
            <AppenderRef ref="JCToolLogProcess"/>
            <JCToolsBlockingQueue/>
        </Async>
    </Appenders>

    <Loggers>

        <AsyncRoot level="INFO" includeLocation="true">

<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="route"/>-->
            <AppenderRef ref="Async"/>

        </AsyncRoot>
<!--        <AsyncLogger name="com.danebrown.log" level="INFO" additivity="false" includeLocation="false">-->
<!--            <AppenderRef ref="Async"></AppenderRef>-->
<!--        </AsyncLogger>-->

    </Loggers>

</Configuration>